In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/bamartin1618/1WeekDataset/main/COVID-19Responses.csv')

In [8]:
data.head()

,ID,Region of residence,Age of Subject,Time spent on Online Class,Rating of Online Class experience,Medium for online class,Time spent on self study,Time spent on fitness,Time spent on sleep,Time spent on social media,Prefered social media platform,Time spent on TV,Number of meals per day,Change in your weight,Health issue during lockdown,Stress busters,Time utilized,"Do you find yourself more connected with your family, close friends , relatives ?",What you miss the most
0,R1,Delhi-NCR,21,2.0,Good,Laptop/Desktop,4.0,0.0,7.0,3.0,Linkedin,1,4,Increased,NO,Cooking,YES,YES,School/college
1,R2,Delhi-NCR,21,0.0,Excellent,Smartphone,0.0,2.0,10.0,3.0,Youtube,0,3,Decreased,NO,Scrolling through social media,YES,NO,Roaming around freely
2,R3,Delhi-NCR,20,7.0,Very poor,Laptop/Desktop,3.0,0.0,6.0,2.0,Linkedin,0,3,Remain Constant,NO,Listening to music,NO,YES,Travelling
3,R4,Delhi-NCR,20,3.0,Very poor,Smartphone,2.0,1.0,6.0,5.0,Instagram,0,3,Decreased,NO,Watching web series,NO,NO,"Friends , relatives"
4,R5,Delhi-NCR,21,3.0,Good,Laptop/Desktop,3.0,1.0,8.0,3.0,Instagram,1,4,Remain Constant,NO,Social Media,NO,NO,Travelling

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 19 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   ID                                                                                  1182 non-null   object
 1   Region of residence                                                                 1182 non-null   object
 2   Age of Subject                                                                      1182 non-null   int64
 3   Time spent on Online Class                                                          1182 non-null   float64
 4   Rating of Online Class experience                                                   1158 non-null   object
 5   Medium for online class                                                             1131 non-null   object
 6   Time spent on self study                                                            1182 non-null   float64
 7   Time spent on fitness                                                               1182 non-null   float64
 8   Time spent on sleep                                                                 1182 non-null   float64
 9   Time spent on social media                                                          1182 non-null   float64
 10  Prefered social media platform                                                      1182 non-null   object
 11  Time spent on TV                                                                    1182 non-null   object
 12  Number of meals per day                                                             1182 non-null   int64
 13  Change in your weight                                                               1182 non-null   object
 14  Health issue during lockdown                                                        1182 non-null   object
 15  Stress busters                                                                      1182 non-null   object
 16  Time utilized                                                                       1182 non-null   object
 17  Do you find yourself more connected with your family, close friends , relatives  ?  1182 non-null   object
 18  What you miss the most                                                              1182 non-null   object
dtypes: float64(5), int64(2), object(12)
memory usage: 175.6+ KB

In [10]:
data.columns

Index(['ID', 'Region of residence', 'Age of Subject',
       'Time spent on Online Class', 'Rating of Online Class experience',
       'Medium for online class', 'Time spent on self study',
       'Time spent on fitness', 'Time spent on sleep',
       'Time spent on social media', 'Prefered social media platform',
       'Time spent on TV', 'Number of meals per day', 'Change in your weight',
       'Health issue during lockdown', 'Stress busters', 'Time utilized',
       'Do you find yourself more connected with your family, close friends , relatives  ?',
       'What you miss the most'],
      dtype='object')

In [12]:
data.describe()

,Age of Subject,Time spent on Online Class,Time spent on self study,Time spent on fitness,Time spent on sleep,Time spent on social media,Number of meals per day
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,20.165821,3.208841,2.911591,0.765821,7.871235,2.365694,2.917936
std,5.516467,2.101756,2.140590,0.724451,1.615762,1.767336,0.828698
min,7.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000
25%,17.000000,2.000000,2.000000,0.000000,7.000000,1.000000,2.000000
50%,20.000000,3.000000,2.000000,1.000000,8.000000,2.000000,3.000000
75%,21.000000,5.000000,4.000000,1.000000,9.000000,3.000000,3.000000
max,59.000000,10.000000,18.000000,5.000000,15.000000,10.000000,8.000000

In [14]:
data['Rating of Online Class experience'] = data['Rating of Online Class experience'].fillna(data['Rating of Online Class experience'].mode()[0])

data['Medium for online class'] = data['Medium for online class'].fillna(data['Medium for online class'].mode()[0])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 19 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   ID                                                                                  1182 non-null   object
 1   Region of residence                                                                 1182 non-null   object
 2   Age of Subject                                                                      1182 non-null   int64
 3   Time spent on Online Class                                                          1182 non-null   float64
 4   Rating of Online Class experience                                                   1182 non-null   object
 5   Medium for online class                                                             1182 non-null   object
 6   Time spent on self study                                                            1182 non-null   float64
 7   Time spent on fitness                                                               1182 non-null   float64
 8   Time spent on sleep                                                                 1182 non-null   float64
 9   Time spent on social media                                                          1182 non-null   float64
 10  Prefered social media platform                                                      1182 non-null   object
 11  Time spent on TV                                                                    1182 non-null   object
 12  Number of meals per day                                                             1182 non-null   int64
 13  Change in your weight                                                               1182 non-null   object
 14  Health issue during lockdown                                                        1182 non-null   object
 15  Stress busters                                                                      1182 non-null   object
 16  Time utilized                                                                       1182 non-null   object
 17  Do you find yourself more connected with your family, close friends , relatives  ?  1182 non-null   object
 18  What you miss the most                                                              1182 non-null   object
dtypes: float64(5), int64(2), object(12)
memory usage: 175.6+ KB